<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block title -%}
    {% if title %}
        <title>Про Flask - {{title}}</title>
    {% else %}
        <title>Про Flask</title>
    {% endif %}
    {% endblock %}
</head>

<body>
<link type="text/css" href="{{ url_for('static', filename="styles.css")}}" rel="stylesheet" />
{% block content -%}
    {%- block mainmenu -%}
<ul class="mainmenu">
    {% for m in menu -%}
<li>{{m}}</li>
    {% endfor -%}
</ul>
    {% endblock mainmenu -%}
    {% if title -%}
<h1>{{title}}</h1>
<h1>Про Flask</h1>
    {% endif -%}
{% endblock -%}
<div class="clear"> </div>
<div class="content"> </div>
</body>
</html>