body {
    background-color: #313940;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    overflow-x: hidden;
    background-image: url("https://e0.pxfuel.com/wallpapers/174/749/desktop-wallpaper-cs-go-gaming-background-counter-strike.jpg");
    background-size: cover;      
}